name: Build and Push to ECR

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v5

      - name: Build docker image and push it to ghcr
        run: |
          make image_build
          make image_push GHCR_TOKEN=${{ secrets.GHCR_TOKEN }}
